.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/webassets/CopilotIndices/17.13.433.20974/CodeChunks.db
.vs/webassets/CopilotIndices/17.13.433.20974/SemanticSymbols.db
.vs/webassets/FileContentIndex/0fd5546a-fc41-48eb-be09-5e900e507c71.vsidx
.vs/webassets/v17/.wsuo
.vs/webassets/v17/DocumentLayout.json
